/* IMPORTS */
@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

:root {
  /* COLOR PALETTE */
  --color-001: #f9e179;
  --color-002: #e0c072;
  --color-003: #ebb575;
  --color-004: #d6904c;
  --color-005: #aa835f;
  --color-006: #8d7356;
  --color-007: #aa7448;
  --color-008: #6e422a;
  --color-009: #492d1e;
  --color-010: #301e14;
  --color-011: #130805;
  --color-012: #b9b2a1;
  --color-013: #515350;
  --color-014: #f0e7d7;

  /* TYPOGRAPHY */
  --font-size-h1: 4.6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2.5rem;
  --font-size-h4: 2.3rem;
  --font-size-h5: 2rem;
  --font-size-h6: 1.8rem;
  --font-size-p: 1.6rem;

  /* OTHERS */
  --cursor: url("./assets/cursor_16.png") 0 0, auto !important;
}

@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}

/* CUSTOM STYLES SETTINGS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  cursor: var(--cursor);
}

/* SETTING SOME DEFAULT STYLES */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Barlow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-012);
  background-color: var(--color-008);
  cursor: var(--cursor);
}

body {
  overflow: hidden;
}

a,
button,
input,
select,
textarea,
[role="button"],
[role="option"],
[role="link"],
[tabindex],
ul,
ol,
li,
span,
div,
label,
fieldset {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
  cursor: var(--cursor);
}

ul,
ol,
li {
  list-style-type: none;
}

img[src=""],
img:not([src]) {
  /* TODO: add a real fallback img path */
  background-image: url("/fallback-avatar.png");
  background-size: cover;
  background-position: center;
}

/* HOVER CLASSES RENDERED ONLY FOR DEVICES CAPABLE OF SUPPORTING IT */
/* (hover: hover) checks if the primary input mechanism of the device supports hover functionality. This typically applies to devices with a mouse or trackpad. */
/* (pointer: fine) checks if the primary pointing device is precise, which would be true for a mouse or stylus, but not for a finger on a touch screen. */
@media (hover: hover) and (pointer: fine) {
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-002);
  }

  *::-moz-scrollbar-thumb:hover {
    background-color: var(--color-002);
  }

  .default_btn:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 1px 0 var(--color-007), inset 0 0 15px 2px rgb(255, 255, 255, 0.25);
  }

  .selection_ul li:hover span {
    border: 5px solid var(--color-002);
  }

  .selection_ul li:hover h6 {
    font-weight: bold;
  }

  .navigation_menu li:hover {
    transform: scale(1.05);
  }

  .navigation_menu li:hover h6 {
    font-weight: bold;
  }
}

/* /////////////////////////////// */
/* UTILITY CLASSES START */
/* /////////////////////////////// */

.h1 {
  font-size: var(--font-size-h1);
  font-weight: normal;
  line-height: var(--font-size-h1);
}

.h1_bold {
  font-size: var(--font-size-h1);
  font-weight: 600;
  line-height: var(--font-size-h1);
}

.h2 {
  font-size: var(--font-size-h2);
  font-weight: normal;
  line-height: var(--font-size-h2);
}

.h2_bold {
  font-size: var(--font-size-h2);
  font-weight: 600;
  line-height: var(--font-size-h2);
}

.h3 {
  font-size: var(--font-size-h3);
  font-weight: normal;
  line-height: var(--font-size-h3);
}

.h3_bold {
  font-size: var(--font-size-h3);
  font-weight: bold;
  line-height: var(--font-size-h3);
}

.h4 {
  font-size: var(--font-size-h4);
  font-weight: normal;
  line-height: var(--font-size-h4);
}

.h4_bold {
  font-size: var(--font-size-h4);
  font-weight: bold;
  line-height: var(--font-size-h4);
}

.h5 {
  font-size: var(--font-size-h5);
  font-weight: normal;
  line-height: var(--font-size-h5);
}

.h5_bold {
  font-size: var(--font-size-h5);
  font-weight: bold;
  line-height: var(--font-size-h5);
}

.h6 {
  font-size: var(--font-size-h6);
  font-weight: normal;
  line-height: var(--font-size-h6);
}

.h6_bold {
  font-size: var(--font-size-h6);
  font-weight: bold;
  line-height: var(--font-size-h6);
}

.p {
  font-size: var(--font-size-p);
  font-weight: normal;
  line-height: var(--font-size-p);
}

.p_bold {
  font-size: var(--font-size-p);
  font-weight: bold;
  line-height: var(--font-size-p);
}

.flex_col_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_col_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex_row_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex_row_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex_gap_10 {
  gap: 10px;
}

.flex_gap_20 {
  gap: 20px;
}

.flex_gap_50 {
  gap: 50px;
}

/* /////////////////////////////// */
/* UTILITY CLASSES END */
/* /////////////////////////////// */

/* /////////////////////////////// */
/* SCROLLBAR START */
/* /////////////////////////////// */

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #7582a64d;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-009);
  border-radius: 20px;
}

*::-webkit-scrollbar-track-piece {
  background: #7582a64d;
}

/* For Firefox */
*::-moz-scrollbar {
  width: 4px;
}

*::-moz-scrollbar-thumb {
  background: var(--color-009);
  border-radius: 20px;
}

*::-moz-scrollbar-track-piece {
  background: #7582a64d;
}

/* /////////////////////////////// */
/* SCROLLBAR END */
/* /////////////////////////////// */

.equipment_slot {
  --slot-size: 80px;
  position: relative;
  min-width: var(--slot-size);
  width: var(--slot-size);
  max-width: var(--slot-size);
  aspect-ratio: 1;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px #2d1708 inset, 0px 0px 4px 1px var(--color-011);
  -webkit-box-shadow: 0px 0px 8px 0px #2d1708 inset, 0px 0px 4px 1px var(--color-011);
  -moz-box-shadow: 0px 0px 8px 0px #2d1708 inset, 0px 0px 4px 1px var(--color-011);
}

.equipment_slot_assigned {
  background-color: #4e4540;
  background: radial-gradient(circle farthest-corner at center center, #493f3b 0%, #251d19 80%);
  border: 2px solid var(--color-013);
}

.equipment_slot_empty {
  background-color: var(--color-010);
  border: 2px solid var(--color-006);
}

.equipment_slot_empty::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 55%;
  height: 55%;
  border: 2px solid rgb(58, 37, 28, 0.35);
  border-radius: 0.5em;
  background-color: rgb(58, 37, 28, 0.35);
  transform: translate(-50%, -50%);
}

.equipment_slot_empty::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 60.5%;
  height: 60.5%;
  border: 2px solid rgb(58, 37, 28, 0.35);
  border-radius: 0.5em;
  background-color: rgb(58, 37, 28, 0.35);
  transform: translate(-50%, -50%) rotate(45deg);
}
