/* IMPORTS */
@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

:root {
  /* COLOR PALETTE */
  --color-001: #122661;
  --color-002: #178163;
  --color-003: #fff;
  --color-004: #000;
  --color-005: #2ccf9a;
  --color-006: #051937;
  --color-007: #198662;
  --color-008: #808080;
  --color-009: #7582a6;
  --color-010: #e50000;
  --color-011: #309b67;
  --color-012: #27b470;
  --color-013: #174737;

  /* TYPOGRAPHY */
  --font-size-h1: 4.6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2.5rem;
  --font-size-h4: 2.3rem;
  --font-size-h5: 2rem;
  --font-size-h6: 1.8rem;
  --font-size-p: 1.6rem;

  /* OTHERS */
  --cursor: url(./assets/cursor_16.png) 0 0, auto !important;
}

/* SET THE STYLES BASED ON THE USER SYSTEM PREFERENCES FOR DARK THEME OR LIGHT THEME */
@media (prefers-color-scheme: dark) {
  /* IMPLEMENT THE FOLLOWING IF WE WANT TO ALLOW THE USER TO TOGGLE MANUALLY LIGHT DARK MODE */
  /* :root:not(.light) {
    This will apply if no class is set OR if 'dark' class is there
    --decor-color-1: green;
    Other dark theme variables
  } */
}

/* if light will use already the above :root variables */
@media (prefers-color-scheme: light) {
  /* :root {
  } */
}

/* CUSTOM STYLES SETTINGS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  cursor: var(--cursor);
}

/* SETTING SOME DEFAULT STYLES */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Barlow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  cursor: var(--cursor);
}

body {
  overflow: hidden;
}

a,
button,
input,
select,
textarea,
[role="button"],
[role="option"],
[role="link"],
[tabindex],
ul,
ol,
li,
span,
div,
label,
fieldset {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
  cursor: var(--cursor);
}

ul,
ol,
li {
  list-style-type: none;
}

img[src=""],
img:not([src]) {
  /* TODO: add a real fallback img path */
  background-image: url("/fallback-avatar.png");
  background-size: cover;
  background-position: center;
}

/* HOVER CLASSES RENDERED ONLY FOR DEVICES CAPABLE OF SUPPORTING IT */
/* (hover: hover) checks if the primary input mechanism of the device supports hover functionality. This typically applies to devices with a mouse or trackpad. */
/* (pointer: fine) checks if the primary pointing device is precise, which would be true for a mouse or stylus, but not for a finger on a touch screen. */
@media (hover: hover) and (pointer: fine) {
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-002);
  }

  *::-moz-scrollbar-thumb:hover {
    background-color: var(--color-002);
  }

  .default_btn:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 1px 0 var(--color-007), inset 0 0 15px 2px rgb(255, 255, 255, 0.25);
  }

  .selection_ul li:hover span {
    border: 5px solid var(--color-002);
  }

  .selection_ul li:hover h6 {
    font-weight: bold;
  }

  .navigation_menu li:hover {
    transform: scale(1.05);
  }

  .navigation_menu li:hover h6 {
    font-weight: bold;
  }
}

/* /////////////////////////////// */
/* UTILITY CLASSES START */
/* /////////////////////////////// */

.h1 {
  font-size: var(--font-size-h1);
  font-weight: normal;
  line-height: var(--font-size-h1);
}

.h1_bold {
  font-size: var(--font-size-h1);
  font-weight: 600;
  line-height: var(--font-size-h1);
}

.h2 {
  font-size: var(--font-size-h2);
  font-weight: normal;
  line-height: var(--font-size-h2);
}

.h2_bold {
  font-size: var(--font-size-h2);
  font-weight: 600;
  line-height: var(--font-size-h2);
}

.h3 {
  font-size: var(--font-size-h3);
  font-weight: normal;
  line-height: var(--font-size-h3);
}

.h3_bold {
  font-size: var(--font-size-h3);
  font-weight: bold;
  line-height: var(--font-size-h3);
}

.h4 {
  font-size: var(--font-size-h4);
  font-weight: normal;
  line-height: var(--font-size-h4);
}

.h4_bold {
  font-size: var(--font-size-h4);
  font-weight: bold;
  line-height: var(--font-size-h4);
}

.h5 {
  font-size: var(--font-size-h5);
  font-weight: normal;
  line-height: var(--font-size-h5);
}

.h5_bold {
  font-size: var(--font-size-h5);
  font-weight: bold;
  line-height: var(--font-size-h5);
}

.h6 {
  font-size: var(--font-size-h6);
  font-weight: normal;
  line-height: var(--font-size-h6);
}

.h6_bold {
  font-size: var(--font-size-h6);
  font-weight: bold;
  line-height: var(--font-size-h6);
}

.p {
  font-size: var(--font-size-p);
  font-weight: normal;
  line-height: var(--font-size-p);
}

.p_bold {
  font-size: var(--font-size-p);
  font-weight: bold;
  line-height: var(--font-size-p);
}

.flex_col_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_col_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex_row_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex_row_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex_gap_10 {
  gap: 10px;
}

.flex_gap_20 {
  gap: 20px;
}

.flex_gap_50 {
  gap: 50px;
}

/* /////////////////////////////// */
/* UTILITY CLASSES END */
/* /////////////////////////////// */

/* /////////////////////////////// */
/* SCROLLBAR START */
/* /////////////////////////////// */

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #7582a64d;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-009);
  border-radius: 20px;
}

*::-webkit-scrollbar-track-piece {
  background: #7582a64d;
}

/* For Firefox */
*::-moz-scrollbar {
  width: 4px;
}

*::-moz-scrollbar-thumb {
  background: var(--color-009);
  border-radius: 20px;
}

*::-moz-scrollbar-track-piece {
  background: #7582a64d;
}

/* /////////////////////////////// */
/* SCROLLBAR END */
/* /////////////////////////////// */
